*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background: #b3dda8;
    text-align: center;
}

canvas
{
    background-size: 100% 100%;
    background-image: url("http://sr.photos2.fotosearch.com/bthumb/UNC/UNC304/u10494504.jpg");
    -webkit-transition: -webkit-transform 1s;
}

canvas:hover
{
    opacity: 0.5;
    background-color: rgba(0, 169, 255, 0.2);
    background-blend-mode: multiply;
}

#canvasDiv
{
    margin: 10px auto 40px;
}

#reloadButton, #githublink
{
    border: 1px solid #2a4720;
    border-width: 2px;
    padding: 5px;
    text-decoration: none;
    color: #2a4720;
    background: white;
    font-family: "Courier";
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: font-size 0.1s;

}

#reloadButton:hover, #githublink:hover
{
    font-size: 24px;
}

#title
{
    font-size: 40px;
    font-family: "Courier";
    font-weight:bold;
    color: #2a4720;
    border: 1px solid #2a4720;
    background: white;
    border-width: 2px;
    width: 150px;
    margin: 10px auto 10px;
}
